body{
    padding: 0;
    margin: 0;
    background-color: azure;
}

#main{
    text-align: center;
    margin: 90px 50px;
    background-color: aqua;
    border: 2px red solid;
}

@media only screen and(min-width:500px){
    #main{
        margin: auto 20px;
    }
}

#title{
    color: red;
}

#description{
    margin-top: -20px;
    color: red;
}

#survey-form{
    display: inline-block;
    background-color: white;
    position: relative;
    height: auto;
    width: 95%;
}

#additional-comments{
    width: 50%;
}

@media only screen and(min-width:500px){
    #additional-comments{
        outline: none;
    }
}